# .gitignore
.venv/
venv/
.env
__pycache__/
*.pyc
[Vv]env/Scripts/
Lib/
node_modules/
PROJECT_DEMO_SCRIPT.md
./app/websocket-server/
app/websocket-server

# Generated JS from TypeScript
app/static/js/

# Generated Tailwind CSS
app/static/styles/output.css
