body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #D3D3FF;
}

.register-div {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  background-color: white;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.register-div form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.main-box {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 500px;
  row-gap: 20px;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 30px;
}

input {
  width: 480px;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
}

.heading1 {
  margin: 0;
  margin-bottom: 10px;
}

.heading2 {
  margin: 0;
  padding-bottom: 20px;
}

.register-button {
  color: white;
  background-color: black;
  border-radius: 25px;
  width: 380px;
  height: 70px;
  font-size: 18px;
}

.img-people {
  width: 800px;
  height: 100vh;
}

select {
  width: 480px;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  border: 2px solid black;
}

.dob-grad-div {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.dob-div,.grad-div {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.dob,.grad_year {
  width: 100px;
}

.grad_year {
  width: 130px;
  margin-left: 30px;
}


