body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../static/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px auto;
}

.main-box {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  row-gap: 20px;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 30px;
}

.img-people {
  width: 800px;
  height: 100vh;
}

.comp-profile {
  color: white;
  background-color: black;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color, 0.3s;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

p {
  margin:0;
}

.comp-profile:hover {
  background-color: #D3D3FF;
  color: black;
}

