<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/styles/check_email.css">
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600&display=swap" rel="stylesheet">
	</head>
	<body style="background-color: #D3D3FF">
		<div class="main-box">
			<div class="heading-div">
				<h2 class="heading2">Check your email 📧</h2>
				<h3 class="heading1">We've sent a verification link to your email address.</h3>
				<h3 class="heading3">Please click the link to verify your account.</h3>
			</div>
		</div>
		<img class="img-people" src="../static/images/People.png">
	</body>
</html>
