<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/styles/confirmation.css">
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600&display=swap" rel="stylesheet">
	</head>
	<body style="background-color: #D3D3FF">
		<div class="main-box">
			<h2>Registration Complete!</h2>
			<p>Click Below to Complete your Profile:</p>
			<button class="comp-profile">
				Complete your profile
			</button>
		</div>
		<img class="img-people" src="../static/images/People.png">
	</body>
</html>
