<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/styles/index.css">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
	</head>
	<body>
  	<header class="navbar">
			<nav class="logo-nav">
				<img src="../static/images/connections.png" class="nav-img">
				<p>ALGO</p>
			</nav>
    	<nav class="main-nav">
      	<a href="#">Home</a>
      	<a href="#">Documentation</a>
      	<a href="#">Team</a>
      	<a href="#">About</a>
      	<a href="#">Contact Us</a>
    	</nav>
			<div class="button-nav">
				<a class="sign-up">
					<button class="sign-up-button">
						Sign Up
					</button>
				</a>
				<a class="log-in">
					<button class="log-in-button">
						Log in
					</button>
				</a>
			</div>
  	</header>
		<div class="hero">
			<div class="slogan-div">
				<div class="slogan-container">
					<p class="connect-with">Connect with</p>
					<div class="rotating-text">
						<span>Alumni</span>
						<span>Seniors</span>
						<span>Juniors</span>
						<span>Mentors</span>
					</div>
				</div>
				For Students
			</div>
			<div class="team-rotation">
				<span class="members">Pranjul&nbsp;&nbsp;Aditya&nbsp;&nbsp;Nandini&nbsp;&nbsp;Chandragupt&nbsp;&nbsp;Himanshu&nbsp;&nbsp;Ovesh</span>
				<span class="team">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PANCHO</span>
			</div>
		</div>
	</body>
</html>
