<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/interests.css">
</head>
<body>
    <div class="main-box">
        <div class="register-div">
            <form method="POST" action="/login">
                <h2>Login</h2>
                <label>Enter Email</label>
                <input name="email" class="email">
                <label>Enter Password</label>
                <input type="password" name="password" class="password">
                <button type="submit" class="register-button">Login</button>
            </form>
        </div>
    </div>
    <img class="img-people" src="../static/images/People.png">
</body>
</html>

