<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/styles/register.css">
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600&display=swap" rel="stylesheet">
	</head>
	<body style="background-color: #D3D3FF">
		<div class="main-box">
			<div class="heading-div">
				<h2 class="heading2">Join us</h2>
				<h2 class="heading1">Start Connecting with your Alumni with <span style="font-weight: 1500; color: #5C7542">ALUMNI</span></h2>
			</div>
			<div class="register-div">
  			<form method="POST" action="/register">
    			<input class="reg-firstname" name="firstname" placeholder="Enter First Name" required>
    			<input class="reg-lastname"  name="lastname"  placeholder="Enter Last Name" required>
    			<input class="reg-email"     name="email"     placeholder="Enter Email" required>
    			<input class="reg-username"  name="username"  placeholder="Enter Username" required>
    			<input class="reg-passwd"    name="password" type="password" placeholder="Enter Password" required>
    			<button class="register-button" type="submit">Register</button>
  			</form>
			</div>
		</div>
		<img class="img-people" src="../static/images/People.png">
	</body>
</html>
